include *.txt
include LICENSE
recursive-include sphinxReadTheRecipeTheme *.conf
recursive-include sphinxReadTheRecipeTheme *.css
recursive-include sphinxReadTheRecipeTheme *.css_t
recursive-include sphinxReadTheRecipeTheme *.eot
recursive-include sphinxReadTheRecipeTheme *.html
recursive-include sphinxReadTheRecipeTheme *.png
recursive-include sphinxReadTheRecipeTheme *.ico
recursive-include sphinxReadTheRecipeTheme *.js
recursive-include sphinxReadTheRecipeTheme *.svg
recursive-include sphinxReadTheRecipeTheme *.ttf
recursive-include sphinxReadTheRecipeTheme *.woff
